.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.113281;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-5.920000px;}
._0{margin-left:-4.440000px;}
._2{margin-left:-3.300000px;}
._1{margin-left:-1.080000px;}
._3{width:21.284715px;}
._4{width:22.336746px;}
._6{width:384.919889px;}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(255,0,0);}
.fc2{color:rgb(255,255,255);}
.fc4{color:rgb(255,242,204);}
.fc3{color:rgb(0,0,255);}
.fs5{font-size:42.000000px;}
.fs4{font-size:52.000000px;}
.fs0{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs6{font-size:63.360001px;}
.fs3{font-size:64.000000px;}
.fs9{font-size:68.000000px;}
.fsa{font-size:72.000000px;}
.fs8{font-size:75.360001px;}
.fs7{font-size:80.000000px;}
.fs1{font-size:132.000000px;}
.y0{bottom:0.000000px;}
.y23{bottom:12.749088px;}
.y12{bottom:17.193842px;}
.y15{bottom:30.749088px;}
.y33{bottom:62.232817px;}
.yd{bottom:116.733536px;}
.yc{bottom:147.933548px;}
.yb{bottom:163.533554px;}
.y22{bottom:172.133636px;}
.ya{bottom:194.733566px;}
.y21{bottom:194.741608px;}
.y9{bottom:225.933578px;}
.y36{bottom:243.787226px;}
.y8{bottom:260.216454px;}
.y35{bottom:260.587227px;}
.y32{bottom:296.606499px;}
.y7{bottom:299.588837px;}
.y38{bottom:300.364033px;}
.y31{bottom:313.406496px;}
.y37{bottom:317.164034px;}
.y6{bottom:317.588837px;}
.y40{bottom:319.015732px;}
.y30{bottom:330.206497px;}
.y5{bottom:335.588837px;}
.y3f{bottom:340.615732px;}
.y1e{bottom:344.548492px;}
.y4{bottom:353.588835px;}
.y2f{bottom:356.159561px;}
.y3a{bottom:362.213497px;}
.y1d{bottom:368.548491px;}
.y2e{bottom:372.959558px;}
.y39{bottom:379.013498px;}
.y3e{bottom:385.905884px;}
.y2d{bottom:389.759560px;}
.y2c{bottom:415.465448px;}
.y3d{bottom:431.196054px;}
.y2b{bottom:432.265450px;}
.y13{bottom:450.793118px;}
.y10{bottom:451.099576px;}
.ye{bottom:451.158078px;}
.y11{bottom:451.158139px;}
.yf{bottom:451.218076px;}
.y25{bottom:463.465448px;}
.y1b{bottom:471.254425px;}
.y24{bottom:480.265450px;}
.y1{bottom:492.359940px;}
.y1a{bottom:495.254423px;}
.y26{bottom:510.329811px;}
.y20{bottom:533.861526px;}
.y34{bottom:572.505078px;}
.y2a{bottom:575.174054px;}
.y29{bottom:575.538068px;}
.y27{bottom:575.539014px;}
.y28{bottom:575.598935px;}
.y41{bottom:581.504682px;}
.y1c{bottom:587.480115px;}
.y18{bottom:587.480512px;}
.y19{bottom:587.538068px;}
.y16{bottom:587.539014px;}
.y17{bottom:587.598935px;}
.y1f{bottom:606.359940px;}
.y3b{bottom:609.959938px;}
.y14{bottom:618.359940px;}
.y3{bottom:710.839096px;}
.y2{bottom:750.439095px;}
.y3c{bottom:767.290321px;}
.ha{height:30.597656px;}
.h9{height:37.882812px;}
.hb{height:37.918945px;}
.h2{height:40.796875px;}
.h6{height:43.710938px;}
.h7{height:46.625000px;}
.h8{height:46.947266px;}
.hc{height:50.203125px;}
.h13{height:50.558594px;}
.h15{height:52.453125px;}
.h5{height:54.169922px;}
.h10{height:54.900938px;}
.hd{height:56.801251px;}
.h12{height:57.203438px;}
.he{height:58.281250px;}
.h14{height:61.392578px;}
.h16{height:64.546875px;}
.h11{height:68.037422px;}
.hf{height:72.226562px;}
.h4{height:96.164062px;}
.h3{height:119.173828px;}
.h0{height:793.750000px;}
.h1{height:794.000000px;}
.w0{width:425.250000px;}
.w1{width:425.500000px;}
.x0{left:0.000000px;}
.x1{left:7.948822px;}
.x6{left:22.250450px;}
.x4{left:33.804184px;}
.x10{left:41.933548px;}
.x22{left:50.871052px;}
.x21{left:58.205036px;}
.x20{left:82.871052px;}
.x12{left:86.790520px;}
.xc{left:93.496109px;}
.x11{left:96.433548px;}
.x7{left:99.187923px;}
.xa{left:101.713615px;}
.x5{left:103.665649px;}
.x3{left:106.392723px;}
.x13{left:121.164871px;}
.xd{left:122.417938px;}
.x1d{left:128.308578px;}
.x2{left:133.892723px;}
.xe{left:136.621063px;}
.x16{left:156.736954px;}
.x1f{left:161.702026px;}
.x18{left:174.871078px;}
.xf{left:176.121048px;}
.x19{left:179.132309px;}
.x15{left:180.562496px;}
.x1b{left:182.621063px;}
.x1c{left:186.441578px;}
.x17{left:189.997543px;}
.x8{left:197.381313px;}
.x1a{left:203.496063px;}
.x14{left:204.852371px;}
.x1e{left:206.246078px;}
.x9{left:265.453152px;}
.x23{left:270.587032px;}
.xb{left:354.626110px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-7.893333pt;}
._0{margin-left:-5.920000pt;}
._2{margin-left:-4.400000pt;}
._1{margin-left:-1.440000pt;}
._3{width:28.379621pt;}
._4{width:29.782328pt;}
._6{width:513.226518pt;}
.fs5{font-size:56.000000pt;}
.fs4{font-size:69.333333pt;}
.fs0{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs6{font-size:84.480001pt;}
.fs3{font-size:85.333333pt;}
.fs9{font-size:90.666667pt;}
.fsa{font-size:96.000000pt;}
.fs8{font-size:100.480001pt;}
.fs7{font-size:106.666667pt;}
.fs1{font-size:176.000000pt;}
.y0{bottom:0.000000pt;}
.y23{bottom:16.998784pt;}
.y12{bottom:22.925123pt;}
.y15{bottom:40.998784pt;}
.y33{bottom:82.977089pt;}
.yd{bottom:155.644714pt;}
.yc{bottom:197.244731pt;}
.yb{bottom:218.044739pt;}
.y22{bottom:229.511515pt;}
.ya{bottom:259.644755pt;}
.y21{bottom:259.655477pt;}
.y9{bottom:301.244771pt;}
.y36{bottom:325.049634pt;}
.y8{bottom:346.955271pt;}
.y35{bottom:347.449636pt;}
.y32{bottom:395.475332pt;}
.y7{bottom:399.451782pt;}
.y38{bottom:400.485377pt;}
.y31{bottom:417.875328pt;}
.y37{bottom:422.885379pt;}
.y6{bottom:423.451782pt;}
.y40{bottom:425.354309pt;}
.y30{bottom:440.275330pt;}
.y5{bottom:447.451782pt;}
.y3f{bottom:454.154310pt;}
.y1e{bottom:459.397990pt;}
.y4{bottom:471.451780pt;}
.y2f{bottom:474.879415pt;}
.y3a{bottom:482.951330pt;}
.y1d{bottom:491.397987pt;}
.y2e{bottom:497.279411pt;}
.y39{bottom:505.351331pt;}
.y3e{bottom:514.541178pt;}
.y2d{bottom:519.679413pt;}
.y2c{bottom:553.953931pt;}
.y3d{bottom:574.928073pt;}
.y2b{bottom:576.353933pt;}
.y13{bottom:601.057491pt;}
.y10{bottom:601.466101pt;}
.ye{bottom:601.544104pt;}
.y11{bottom:601.544186pt;}
.yf{bottom:601.624101pt;}
.y25{bottom:617.953931pt;}
.y1b{bottom:628.339233pt;}
.y24{bottom:640.353933pt;}
.y1{bottom:656.479919pt;}
.y1a{bottom:660.339231pt;}
.y26{bottom:680.439748pt;}
.y20{bottom:711.815369pt;}
.y34{bottom:763.340104pt;}
.y2a{bottom:766.898739pt;}
.y29{bottom:767.384090pt;}
.y27{bottom:767.385352pt;}
.y28{bottom:767.465247pt;}
.y41{bottom:775.339575pt;}
.y1c{bottom:783.306820pt;}
.y18{bottom:783.307349pt;}
.y19{bottom:783.384090pt;}
.y16{bottom:783.385352pt;}
.y17{bottom:783.465247pt;}
.y1f{bottom:808.479919pt;}
.y3b{bottom:813.279917pt;}
.y14{bottom:824.479919pt;}
.y3{bottom:947.785461pt;}
.y2{bottom:1000.585459pt;}
.y3c{bottom:1023.053762pt;}
.ha{height:40.796875pt;}
.h9{height:50.510417pt;}
.hb{height:50.558594pt;}
.h2{height:54.395833pt;}
.h6{height:58.281250pt;}
.h7{height:62.166667pt;}
.h8{height:62.596354pt;}
.hc{height:66.937500pt;}
.h13{height:67.411458pt;}
.h15{height:69.937500pt;}
.h5{height:72.226562pt;}
.h10{height:73.201251pt;}
.hd{height:75.735001pt;}
.h12{height:76.271251pt;}
.he{height:77.708333pt;}
.h14{height:81.856771pt;}
.h16{height:86.062500pt;}
.h11{height:90.716563pt;}
.hf{height:96.302083pt;}
.h4{height:128.218750pt;}
.h3{height:158.898438pt;}
.h0{height:1058.333333pt;}
.h1{height:1058.666667pt;}
.w0{width:567.000000pt;}
.w1{width:567.333333pt;}
.x0{left:0.000000pt;}
.x1{left:10.598429pt;}
.x6{left:29.667267pt;}
.x4{left:45.072245pt;}
.x10{left:55.911397pt;}
.x22{left:67.828069pt;}
.x21{left:77.606715pt;}
.x20{left:110.494736pt;}
.x12{left:115.720693pt;}
.xc{left:124.661479pt;}
.x11{left:128.578064pt;}
.x7{left:132.250565pt;}
.xa{left:135.618154pt;}
.x5{left:138.220866pt;}
.x3{left:141.856964pt;}
.x13{left:161.553162pt;}
.xd{left:163.223918pt;}
.x1d{left:171.078105pt;}
.x2{left:178.523631pt;}
.xe{left:182.161418pt;}
.x16{left:208.982605pt;}
.x1f{left:215.602702pt;}
.x18{left:233.161438pt;}
.xf{left:234.828064pt;}
.x19{left:238.843079pt;}
.x15{left:240.749995pt;}
.x1b{left:243.494751pt;}
.x1c{left:248.588771pt;}
.x17{left:253.330058pt;}
.x8{left:263.175084pt;}
.x1a{left:271.328084pt;}
.x14{left:273.136495pt;}
.x1e{left:274.994771pt;}
.x9{left:353.937536pt;}
.x23{left:360.782710pt;}
.xb{left:472.834813pt;}
}
